In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
school_data = Path("Resources/schools_complete.csv")
student_data = Path("Resources/students_complete.csv")

# Read School and Student Data Files and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the school and student data files into one single dataset.  
school_data_merged = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

school_data_merged.head(3)

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635

In [3]:
# Local Government Area (LGA) Summary
# Perform the necessary calculations and create the local government area's key metrics in a DataFrame.

Totalnumber_of_uniqueschools = len(school_data_merged["school_name"].unique())
Totalnumber_of_uniqueschools

15

In [4]:
Total_students = len(school_data_merged["school_name"])
Total_students

39170

In [5]:
Total_budget = sum(school_data_merged["budget"].unique())
Total_budget

24649428

In [6]:
Average_maths_score = school_data_merged["maths_score"].mean()
Average_maths_score

70.33819249425581

In [7]:
Average_reading_score = school_data_merged["reading_score"].mean()
Average_reading_score

69.98013786060761

In [8]:
num_students_passing_maths = len((school_data_merged.loc[school_data_merged["maths_score"]>=50]))
num_students_passing_maths
percentage_students_passing_maths = (num_students_passing_maths/Total_students)*100
percentage_students_passing_maths

86.07863160582077

In [9]:
num_students_passing_reading = len((school_data_merged.loc[school_data_merged["reading_score"]>=50]))
num_students_passing_reading
percentage_students_passing_reading = (num_students_passing_reading/Total_students)*100
percentage_students_passing_reading

84.42685728874139

In [10]:
# filter students with overall passing grades first
overall_passing_df = school_data_merged.loc[(school_data_merged["maths_score"]>=50) & (
    school_data_merged["reading_score"]>=50), :]
overall_passing_df
# calculate the % of overall passing
percentage_students_passing_overall = (len(overall_passing_df)/Total_students)*100
percentage_students_passing_overall

72.80827163645647

In [12]:
# Place all of the calculation into a summary DataFrame
local_govarea_summary = pd.DataFrame({"Total Schools": [Totalnumber_of_uniqueschools],
                              "Total Students": Total_students,
                              "Total Budget": Total_budget,
                              "Average Maths Score": Average_maths_score,
                              "Average Reading Score": Average_reading_score,
                              "% Passing Math": percentage_students_passing_maths, 
                              "% Passing Reading": percentage_students_passing_reading,
                              "% Overall Passing": percentage_students_passing_overall
                                     })
local_govarea_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272